# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large files (IMPORTANT)
*.mp4
*.pt
*.db
backend/uploads/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env

# Secrets
backend/serviceAccountKey.json